@font-face {
    font-family: "Open Sans Bold";
    src: url("/fonts/src/OpenSans-Bold.ttf"),
        url("/fonts/src/OpenSans-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("/fonts/src/OpenSans-Regular.ttf"),
        url("/fonts/src/OpenSans-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/src/BebasNeue.ttf"),
        url("/fonts/src/BebasNeue.woff2");
}