@import '../../node_modules/reset-css/sass/reset';
@import '../scss/font';

:root {
    --primary-white: #FFF;
    --black: #010101;
    --accent-yellow: #FFB548;
    --dark-brown: #1A1917;
}

body {
    font-family: Open Sans Regular;
    font-weight: 400;
    font-size: 14px;
    background:#010101;
    color: var(--primary-white);
}

.page-header
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .container
    {
        width: 1440px;
        height: 960px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        .header-img {
            position: absolute;
            z-index: 97;
            max-width: 1440px;
        }
        .navigation
        {
            padding-top: 21px;
            width: 1200px;
            position: relative;
            z-index: 98;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .navigation__menu
        {
            margin: auto;
        }
        .menu__list
        {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .menu__item
        {
            padding-left: 24px;
            padding-right: 24px;
        }
        .menu__link
        {
            color: var(--primary-white);
            font-family: Open Sans Bold;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: 1s;
        }
        .navigation__additional
        {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .navigation__lang
        {
            position: relative;
            display: flex;
            flex-direction: row;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            padding-right: 21px;
            margin-right: 21px;
        }
        .lang-list
        {
            opacity: 0;
            top: 0px;
            left: -10px;
            height: 66px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 6px 20px 6px 8px;
            flex-shrink: 0;
            background: var(--black);
            transition: 1s;
        }
        .lang-link
        {
            color: var(--primary-white);
            text-align: right;
            font-family: Open Sans Bold;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: 1s;
        }
        .lang-link:hover, .menu__link:hover
        {
            color: var(--accent-yellow);
            transition: 1s;
        }

        .lang-link__active:hover + .lang-list,
        .lang-list:hover
        {
            margin-top: 20px;
            top: 0;
            opacity: 1;
            transition: 1s;
        }
        .header-content
        {
            z-index: 98;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 340px;
            .header-text
            {
                color: var(--primary-white);
                text-align: center;
                font-family: Bebas Neue;
                font-size: 80px;
                font-style: normal;
                font-weight: 400;
                line-height: 80px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            .element-animation {
                opacity: 0;
                transition: 2s;
            }
            .element-animation.element-show {
                opacity: 1;
                transition: opacity 2s;
            }
            .header-descr
            {
                margin-top: 18px;
                margin-bottom: 18px;
                color: var(--primary-white);
                text-align: center;
                font-family: Bebas Neue;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
            }
            .trasfom-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height: 80px;
            }
            .header-action
            {
                border-radius: 4px;
                background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
                width: 260px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--dark-brown);
                font-family: Open Sans Bold;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                text-decoration: none;
            }
            span
            {
                display: block;
                width: 1px;
                height: 24px;
                margin-left: 10px;
                margin-right: 10px;
                background: var(--dark-brown);
                opacity: 0.5;
            }
            .header-action:hover
            {
                width: 250px;
                height: 50px;
                transition: 1s;
                color: var(--primary-white);
            }
            .header-action:not(:hover)
            {
                transition: 1s;
            }
        }
        .navigation__console {
            width: 81px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            svg {
                fill: #FFB548;
                transition: 1s;
            }
            svg:hover {
                fill: var(--primary-white);
                transition: 1s;
            }
        }
        .header-scroll
        {
            position: absolute;
            bottom: 65px;
            z-index: 98;
            a
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                color:var(--primary-white);
                font-family: Open Sans Bold;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                text-transform: uppercase;
                text-decoration: none;
            }
            img
            {
                width: 20px;
                height: 8px;
            }
        }
    }
}

.page-main
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .element-animation {
        opacity: 0;
        transition: 2s;
    }
    .element-animation.element-show {
        opacity: 1;
        transition: opacity 2s;
    }
    .container
    {
        width: 1440px;
    }
    .about
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 610px;
        margin-top: 150px;
        &__subtitle
        {
            font-family: Bebas Neue;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
        }
        &__title
        {
            font-family: Bebas Neue;
            font-size: 80px;
            font-style: normal;
            font-weight: 400;
            line-height: 78px;
            letter-spacing: 3px;
            text-transform: uppercase;
            max-width: 400px;
            margin-bottom: 24px;
        }
        &__line
        {
            width: 711px;
            height: 2px;
            background: var(--primary-white);
            position: absolute;
            z-index: 99;
        }
        &__position-text
        {
            display: flex;
            justify-content: right;
            margin-top: 48px;
            font-weight: 400;
        }
        &__text
        {
            text-align: justify;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            max-width: 370px;
            span
            {
                font-family: Open Sans Bold;
                font-weight: 700;
            }
            i
            {
                border-bottom: 5px solid #FFB548;
            }
        }
        .about-wrap
        {
            margin-right: 70px;
            width: 543px;
        }
    }
    .about-gallery
    {
        height: 100%;
        position: relative;
        .slider
        {
            width: 460px;
            .slider-btn-right
            {
                position: absolute;
                right: 0;top: 50%;
            }
            .swiper-button-prev::after
            {
                content: url(../img/switch-left.svg);
            }
            .swiper-button-next::after
            {
                content: url(../img/switch-right.svg);
            }
            .swiper-button-prev.swiper-button-disabled
            {
                display: none;
            }
            .swiper-button-next.swiper-button-disabled
            {
                display: none;
            }
            .swiper-pagination-bullet
            {
                background: none;
                border: 2px solid var(--primary-white);
                width: 14px;
                height: 14px;
            }
            .swiper-pagination-bullet-active
            {
                background: var(--primary-white);
                height: 14px;
                width: 14px;
            }
        }
        .point-list
        {
            display: block;
            height: 14px;
            position: absolute;
            bottom: 30px;
            left: 30%;
            z-index: 99;
            .point-item
            {
                position: absolute;
                display: flex;
                border-radius: 50%;
            }
            .point-item:nth-child(1)
            {
                left: 0px;
                background: var(--primary-white);
            }
            .point-item:nth-child(2)
            {
                left: 50px;
            }
            .point-item:nth-child(3)
            {
                left: 100px;
            }
            .point-item:nth-child(4)
            {
                left: 150px;
            }
            .point-link
            {
                width: 14px;
                height: 14px;
                border-radius:50%;
                border: 1px solid var(--primary-white);
            }
        }
    }
    .features
    {
        width: 100%;
        margin-top: 50px;
        position: relative;
        height: 876px;
        display: flex;
        justify-content: end;
        align-items: center;
        img
        {
            background-size: cover;
            position: absolute;
            height: 876px;
            z-index: 97;
        }
        .features-wrap
        {
            z-index: 98;
            width: 550px;
            position: relative;
        }
        .features-text
        {
            color: var(--primary-white);
            font-family: Bebas Neue;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            padding-left: 20px;
        }
        .features-title
        {
            color: var(--primary-white, #FFF);
            font-family: Bebas Neue;
            font-size: 80px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3px;
            text-transform: uppercase;
            padding-left: 20px;
        }
        .features-list
        {
            position: relative;
        }
        .features-item
        {
            position: relative;
            list-style: decimal url(../img/point.svg);
            z-index: 98;
            margin-bottom: 30px;
            padding-left: 20px;
            h2
            {
                cursor: pointer;
                color: var(--accent-yellow);
                text-align: center;
                font-family: Bebas Neue;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
                text-align-last: left;
            }
            .features-lead
            {
                color: var(--primary-white);
                text-align: justify;
                font-family: Open Sans Regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                max-width: 362px;
                height: 0;
                opacity: 0;
                visibility: hidden;
                animation-name: open-closed;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 2s;
            }
            .features-lead--active
            {
                animation-name: open-block;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 2s;
            }
        }
        .features-item--active
        {
            list-style: decimal url(../img/point-active.svg);
        }
        .features-line
        {
            position: absolute;
            background: var(--primary-white);
            content: "";
            height: 0px;
            width: 2px;
            top: 30px;
            left: -16px;
            transition: 2s;
        }
    }
    .requirements
        {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 960px;
            padding-top: 50px;
            img
            {
                position: absolute;
                height: 960px;
                z-index: 97;
            }
            .requirements-subject
            {
                position: relative;
                z-index: 98;
                color: var(--primary-white, #FFF);
                font-family: Bebas Neue;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
                text-align: center;
            }
            .requirements-title
            {
                position: relative;
                z-index: 98;
                color: var(--primary-white, #FFF);
                font-family: Bebas Neue;
                font-size: 80px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: center;
            }
            .requirements-table
            {
                margin-top: 110px;
                margin-left: 120px;
                position: relative;
                z-index: 98;
                border: 1px solid rgba(255, 255, 255, 0.2);
                tr
                {
                    display: flex;
                    flex-direction: row;
                }
                th,td
                {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    color: var(--primary-white);
                    font-family: Open Sans Regular;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    width: 246px;
                    padding: 18px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    text-align-last: left;
                }
                td
                {
                    width: 530px;
                }
                .req-colspan
                {
                    column-span: 2;
                }
                span
                {
                    color: var(--accent-yellow, #FFB548);
                    font-family: Bebas Neue;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2px;
                    padding-bottom: 8px;
                }
            }
    }
    .quotes
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 100px;
                padding-right: 100px;
                .quotes-wrap-left
                {
                    max-width: 434px;
                    .quotes-subject
                    {
                        color: var(--primary-white, #FFF);
                        font-family: Bebas Neue;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 2px;
                        margin-bottom: 9px;
                    }
                    .quotes-title
                    {
                        color: var(--primary-white, #FFF);
                        font-family: Bebas Neue;
                        font-size: 80px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 80px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        margin-bottom: 50px;
                    }
                    .quotes-desc
                    {
                        color: var(--primary-white, #FFF);
                        font-family: Open Sans Regular;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 50px;
                    }
                    .quotes-btn
                    {
                        border-radius: 4px;
                        border: none;
                        background: var(--accent-yellow, #FFB548);
                        width: 260px;
                        height: 60px;
                        color: var(--dark-brown, #1A1917);
                        text-align: center;
                        font-family: Open Sans Bold;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        cursor: pointer;
                    }
                }
                .quotes-wrap-right
                {
                    width: 614px;
                    .quotes-list
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: first baseline;
                    }
                    .quotes-item
                    {
                        display: block;
                        width: 402px;
                        height: 149px;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.08);
                        margin-bottom: 32px;
                        padding: 16px;
                    }
                    .quotes-item:nth-child(2)
                    {
                        align-self: flex-end;
                    }
                    .quotes-item__wrap
                    {
                        margin-bottom: 24px;
                        display: flex;
                        img
                        {
                            border-radius: 50%;
                            position: relative;
                            box-shadow: 8px 4px var(--accent-yellow, #FFB548);
                        }
                        p
                        {
                            color: var(--accent-yellow, #FFB548);
                            font-family: Bebas Neue;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 2px;
                            display: flex;
                            flex-direction: column;
                            margin-left: 23px;
                        }
                        span
                        {
                            color: var(--primary-white, #FFF);
                            text-align: justify;
                            font-family: Open Sans Regular;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                            opacity: 0.5;
                        }
                    }
                    .quotes-item__desc{
                        color: var(--primary-white, #FFF);
                        font-family: Open Sans Regular;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 14px;
                    }
                    .quotes-item__text
                    {
                        color: var(--primary-white, #FFF);
                        font-family: Open Sans;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        opacity: 0.5;
                    }
                }
            }
        .newsletter
        {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            height: 960px;
            .newsletter-wrap
            {
                max-width: 652px;
                margin-right: 120px;
                position: relative;
                .newsletter-subject
                {
                    color: var(--primary-white, #FFF);
                    font-family: Bebas Neue;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2px;
                }
                .newsletter-title
                {
                    color: var(--primary-white, #FFF);
                    font-family: Bebas Neue;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 80px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                    margin-top: 8px;
                }
                .newsletter-desc
                {
                    color: var(--primary-white, #FFF);
                    font-family: Open Sans Regular;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            .newsletter-wrap::before
            {
                content: url(../img/newsletter.webp);
                position: absolute;
                left: -600px;
                top: -200px;
            }
            .newsletter-form
            {
                display: flex;
                flex-direction: row;
                margin-top: 50px;
                label
                {
                    position: relative;
                    margin-right: 12px;
                }
                input
                {
                    width: 332px;
                    height: 50px;
                    border-radius: 5px;
                    background: rgba(255, 255, 255, 0.08);
                    outline: none;
                    color: var(--accent-yellow, #FFB548);
                    font-family: Open Sans Regular;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-left: 22px;
                    padding-top: 10px;
                    border: none;
                }
                span
                {
                    position: absolute;
                    top: 8px;
                    left: 22px;
                    opacity: 0.5;
                    color: var(--primary-white, #FFF);
                    font-family: Open Sans Regular;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                button
                {
                    width: 260px;
                    height: 60px;
                    border-radius: 4px;
                    background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
                    color: var(--dark-brown, #1A1917);
                    text-align: center;
                    font-family: Open Sans Bold;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: capitalize;
                    border: none;
                }
            }
        }
}
.page-footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    .container
    {
        width: 1440px;
        display: flex;
        flex-direction: column;
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .navigation__menu
    {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 800px;
        .menu__list
        {
            display: flex;
            flex-direction: row;
        }
        .menu__item
        {
            padding-left: 24px;
            padding-right: 24px;
        }
        .menu__link
        {
            color: var(--primary-white, #FFF);
            font-family: Open Sans Bold;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: 1s;
        }
        .menu__link:hover
        {
            color: var(--accent-yellow);
            transition: 1s;
        }
    }
    .navigation__additional
    {
        display: flex;
        align-items: center;
        .navigation__media
        {
            display: flex;
            flex-direction: row;
            a
            {
                padding-left: 56px;
            }
        }
    }
    .copyrating
        {
            margin-bottom: 50px;
        }
        .element-animation {
            opacity: 0;
            transition: 2s;
        }
        .element-animation.element-show {
            opacity: 1;
            transition: opacity 2s;
        }
}

@media (max-width: 425px) {
    .page-header
    {
        .container
        {
            width: 100%;
            .header-content
            {
                margin-top: 150px;
            }
            .header-text, .header-descr
            {
                padding-left: 15px;
                padding-right: 15px;
            }
            .navigation {
                width: 100%;
            }
            .navigation__logo
            {
                margin-left: 15px;
            }
            .navigation__menu {
                margin: 0;
                order: 3;
                position: relative;
                width: 45px;
                margin-right: 15px;
                display: flex;
                align-items: center;
                .line-list
                {
                    position: relative;
                    height: 26px;
                    width: 26px;
                    z-index: 99;
                }
                .line-item {
                    background: var(--accent-yellow);
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    transition: 1s;
                    opacity: 1;
                }
                .line-item:nth-child(1)
                {
                    top: 0;
                }
                .line-item:nth-child(2)
                {
                    top: 8px;
                }
                .line-item:nth-child(4)
                {
                    top: 16px;
                }
                .line-item:nth-child(3)
                {
                    top: 8px;
                }
                .line--active {
                    opacity: 0;
                    transition: 1s;
                }
                .line-item:nth-child(1).line--active
                {
                    top: 8px;
                }
                .line-item:nth-child(4).line--active
                {
                    top: 8px;
                }
                .line-item:nth-child(2).line--rotateX
                {
                    transform: rotateZ(45deg);
                    background: var(--primary-white);
                    transition: 2s;
                }
                .line-item:nth-child(3).line--rotateY
                {
                    transform: rotateZ(135deg);
                    background: var(--primary-white);
                    transition: 2s;
                }
            }
            .navigation__additional
            {
                z-index: 97;
            }
            .menu__list {
                align-items: start;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                right: 10px;
                height: 200px;
                top: -100px;
                opacity: 0;
                transition: 1s;
                background: var(--black);
                border-radius: 10px;
                .menu__item{
                    padding-bottom: 10px;
                    display: none;
                }
            }
            .menu--action
            {
                right: 10px;
                top: 15px;
                transition: 1s;
                opacity: 1;
                z-index: 98;
                .menu__item{
                    padding-bottom: 10px;
                    display: flex;
                }
            }

        }
    }
    .page-main
    {
        height: unset;
        .container
        {
            width: 100%;
        }
        .about
        {
            flex-direction: column;
            height: 1050px;
            .about-wrap
            {
                width: 90%;
                padding-left: 15px;
                padding-right: 15px;
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
        .about__line
        {
            width: 90%;
        }
        .about__title
        {
            width: 100%;
            font-size: 65px;
        }
        .about-gallery
        {
            width: 100%;
            .slider
            {
                width: 100%;
                height: 610px;
            }
            .slider__lest
            {
                width: 100%;
            }
            .slider__item
            {
                width: 100%;
            }
            .slider__item:nth-child(2),
            .slider__item:nth-child(3)
            {
                left: 0;
                top: 0;
            }
        }
        .features
        {
            overflow: hidden;
            img
            {
                left: 0;
            }
            .features-wrap
            {
                width: 100%;
            }
            .features-item
            {
                font-size: 25px;
                .features-lead
                {
                    padding-right: 20px;
                }
                .feature-desc
                {
                    font-size: 25px;
                }
            }
            
        }
        .requirements
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            .requirements-title
            {
                font-size: 42px;
            }
            .requirements-subject
            {
                font-size: 20px;
            }
            .requirements-table
            {
                width: 300px;
                margin-left: 0;
                td, th
                {
                    font-size: 10px;
                    padding: 0;
                    padding-left: 5px;
                }
                th
                {
                    width: 150px;
                }
                td
                {
                    width: 100%;
                }
            }
        }
        .quotes
        {
            flex-direction: column;
            padding: 0;
            .quotes-wrap-left
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 100px;
            }
            .quotes-wrap-right
            {
                width: 100%;
                .quotes-list
                {
                    width: 100%;
                    align-items: center;
                }
                .quotes-item
                {
                    width: 80%;
                    height: unset;
                }
                .quotes-item:nth-child(2)
                {
                    align-self: center;
                }
            }
            .quotes-desc
            {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
            .quotes-title
            {
                text-align: center;
            }
        }
        .newsletter
        {
            justify-content: center;
            .newsletter-wrap
            {
                margin-right: 0;
                width: 90%;
                .newsletter-title
                {
                    font-size: 60px;
                    line-height: 50px;
                }
            }
            .newsletter-form
            {
                flex-direction: column;
                button
                {
                    width: 320px;
                }
                input{
                    width: 298px;
                    margin-bottom: 20px;
                }
            }
            
        }
    }
    .page-footer
    {
        .container
        {
            padding-left: 20px;
            padding-right: 20px;
        }
        .navigation
        {
            width: 100%;
            .navigation__menu
            {
                display: none;
            }
        }
        .navigation__additional
        {
            .navigation__media
            {
                a
                {
                    padding-left: 20px;
                }
            }
        }
    }
}

@keyframes open-block {
    0%
    {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    100%
    {
        height: 78px;
        opacity: 1;
        visibility: visible;
    }
}