<footer class="page-footer">
    <div class="container">
        <div class="navigation element-animation">
            <div class="navigation__logo">
                <a href="#">
                    <img src="img/logo.webp" alt="Логотип игры Survive at all costs">
                </a>
            </div>
            <nav class="navigation__menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="" class="menu__link">MAIN</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">about</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">game features</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">System requirements</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">quotes</a>
                    </li>
                </ul>
            </nav>
            <div class="navigation__additional">
                <div class="navigation__media">
                    <a href="#"><img src="img/facebook.svg" alt=""></a>
                    <a href="#"><img src="img/twitter.svg" alt=""></a>
                    <a href="#"><img src="img/youtube.svg" alt=""></a>
                    <a href="#"><img src="img/twitch.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="copyrating">
            <p class="copyrating-text"> © 2018 Outpost Games, Inc. All Rights Reserved</p>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@10.1.0/swiper-bundle.min.js"></script>
<script type="module" src="js/main.min.js"></script>
</body>
</html>